* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgba(240, 240, 240, 0.446);
  --secondary: rgba(214, 216, 218, 0.376);
  --text-color: #444;
  --link-color: #666;
}

body {
  background-color: var(--primary);
  color: var(--text-color);
  padding: 1em 4em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
hgroup {
  margin-bottom: 1em;
}

nav {
  display: flex;
  gap: 2em
}

a {
  padding-bottom: 0.25em;
  transition: 400ms;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  box-shadow: 0 2px var(--link-color);
  text-decoration: solid;
}

main {
  line-height: 1.5em;
}

section {
  margin-bottom: 1em;
}

figure {
  padding: 0 1em;
}

aside {
  float: right;
  border: 1px solid black;
  padding: 0.5em 1em;
  color: var(--text-color)
}

details p {
  padding: 0 1em;
}

article {
  margin-bottom: 1.5em;
}

dialog {
  box-shadow: 1px solid black;
  margin: 1em auto;
}

details {
  padding: 1em 0em;
}