* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgba(240, 240, 240, 1);
  --secondary: rgba(214, 216, 218, 0.5);
  /* --secondary: linear-gradient(var(--primary), transparent); */
  --text-color: #444;
  --link-color: #666;

}

body {
  position: relative;
  font-size: 24px;
  background-color: var(--primary);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  top: 0px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  padding : 1px 4em; 
  border-bottom: 3px solid var(--secondary);
}

header,
hgroup {
  margin-bottom: 1em;
}

nav {
  display: flex;
  gap: 2em
}

a {
  padding-bottom: 0.25em;
  transition: 400ms;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  box-shadow: 0 2px var(--link-color);
  text-decoration: solid;
}

article, aside{
  margin: 1.5em 0;
}


main {
  width: 80%;
  margin: auto;
  display: flex;
  line-height: 1.5em;
}

section {
  margin-bottom: 1em;
  padding: 0 0 1em 0;
  border-bottom: 2px solid var(--secondary);
}

figure {
  padding: 0 1em;
}

details p {
  padding: 0 1em;
}

mark {
  background-color: var(--primary);
  font-weight: 400;
}

details {
  padding: 1em 0em;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 0.25em;
  color: black;
}

body > footer {  
  padding: 1em 8em;
  color : black; 
  background-color: var(--secondary);
  border-top: 3px solid var(--secondary);
}

img {
  width: 100%;
}

aside {
  border: 1px solid black;
  padding: 0.5em 1em;
  color: var(--text-color);
  height: 100%;
}

aside > p {
  color : black; 
  text-decoration: underline;
}

dialog {
  bottom: 10px;
  box-shadow: 1px solid black;
  margin: 1em auto;
  padding: 0.25em;
}
